{
  "env": {
    "jest": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react-hooks/recommended",
    "plugin:prettier/recommended"
  ],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "semi": false,
        "tabWidth": 2,
        "useTabs": false,
        "trailingComma": "all"
      }
    ],
    "no-await-in-loop": "error",
    "no-console": 0,
    "no-return-await": "error",
    "react/prop-types": 0,
    "@typescript-eslint/no-unused-vars": "error"
  }
}
